@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    @apply font-poppins;
  }

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #0d9cd8;
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #ddd;
    border-radius: 4px;
  }

.custom-pagination .ant-pagination-item {
  background-color: white;
  color: #2C2C2E;
  box-shadow: 0px 4px 20px 0px rgba(21, 32, 70, 0.07);
  border-radius: 4px;
}

.custom-pagination .ant-pagination-prev,
.custom-pagination .ant-pagination-next {
  color: #0D9CD8; 
}

  .custom-pagination .ant-pagination-item-active a {
    color: white;
    background-color: #0D9CD8;
  }
  .custom-pagination .ant-pagination-item-active {
    color: white;
      background-color: #0D9CD8;
      border-color: #0D9CD8;
  }
  .custom-pagination .ant-pagination-item-active:hover {
    color: white;
    background-color: #0D9CD8;
  }
  .custom-pagination .ant-pagination-item-active a:hover {
    color: white;
    background-color: #0D9CD8;
  }
  
  .custom-pagination .ant-pagination-prev .ant-pagination-item-link,
  .custom-pagination .ant-pagination-next .ant-pagination-item-link {
    color: #0D9CD8;
  }
  